#root, .ant-layout, .site-layout-background {
    height: 100%;
}

.tx-row {
    display: flex;
}

.tx-row > * {
    flex: 1;
}

.tx-row > * + * {
    margin-left: 15px;
}

.tx-row + .tx-row {
    margin-top: 15px;
}

.tx-layout {
    display: flex;
    flex-direction: column;
    /*position: absolute;*/
}

.tx-layout > * {
    flex: 1;
}

.login-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    background: #fefefe;
    border-radius: 4px;
    border: 1px solid gray;
    margin-left: -100px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}



textarea.ant-input {
    resize: none;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fefefe;
    font-size: large;
    font-weight: bold;
}

.logo div img {
    background: #21639C;
}


